html,body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #000;
  background-color: #F3F3F3;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}